@font-face {
	font-family: 'athletic';
	src: url('/resources/fonts/Athletic.TTF'); 
}

section {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

body {
    background: #bcbcbc;
}

h1 {
    font-size: 130px;
    letter-spacing: 3px;
    font-family: "athletic";
}

h2 {
    font-size: 230%;
    font-weight: 800;
    padding-bottom: 3%;
}

/* NAVBAR */
.navbar {
    background-color: #272727;
  }
  .navbar .navbar-brand {
    color: #cccccc;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar .navbar-text {
    color: #cccccc;
  }
  .navbar .navbar-text a {
    color: #ffffff;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #ffffff; 
  }
  .navbar .navbar-nav .nav-link {
    color: #cccccc;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #ce0000;
  }
  .navbar .navbar-toggle {
    border-color: #ce0000;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #ce0000;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #cccccc;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #cccccc;
  }
  .navbar .navbar-link {
    color: #cccccc;
  }
  .navbar .navbar-link:hover {
    color: #ffffff;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #cccccc;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #ce0000;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #cccccc;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #ce0000;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #cccccc;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #ce0000;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #cccccc;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ffffff;
      background-color: #ce0000;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cccccc;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #ce0000;
  }
/* NAVBAR END */

.top-gap {
    margin-top: 20px;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    position: absolute;
    opacity: .6;
}

.landing-text {
    margin: 0 auto;
    z-index: 2;
}

.footer {
    background: #000;
    color: #FFF;
}

.fitImg {
    width: 400px;
    height: 400px;
}

.fas {
    font-size: 35px;
    color: #ce0000;
}

.fab {
    font-size: 35px;
    color: #ce0000;
}

#light {
    color: #d6d4d4;
}

#title {
    color: #c60000;
}

#sub-title {
    color: #FFF;
}